<div th:replace = "compartilhado/header"></div>

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Administradores</h1>
                    <p class="mb-4">Aqui constam os manos adm
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Lista de Adms</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Endereço</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Endereço</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>Tiger@gmail.com</td>
                                            <td>Rua 1</td>
                                            <td> <a href = "#" class = "btn btn-warning"> Alterar </td>
                                            <td> <a href = "#" class = "btn btn-danger">Excluir</td>
                                        </tr>
                                        <tr>
                                            <td>Garrett Winters</td>
                                            <td>Garret@gmail.com</td>
                                            <td>Rua 2</td>
                                            <td> <a href = "#" class = "btn btn-warning"> Alterar </td>
                                            <td> <a href = "#" class = "btn btn-danger">Excluir</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

<div th:replace = "compartilhado/footer"></div>